* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(19,19,19,1) 45%, rgba(19,19,19,1) 54%, rgba(0,0,0,1) 100%);
    color:white
}

.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px;
}
.mb-1 {
    margin-bottom: 5px;
}

.mb-5 {
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}
.msg-error{
 color:red  ;
 text-align: right; 
 margin-right: 30px;
 margin-top: 0px;
}